<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIME DESK</title>
    <link rel="stylesheet" href="main\style.css">
</head>

<body>
    <nav>
        <div class="upper-part">
            <img class="logo" src="images/logo.jpg" alt="img"></td>
            <p class="heading">Jan Nayak Chaudhary Devi Lal College Of Engineering,Sirsa</p>
        </div>
    </nav>
    <div class="navbar">
        <ul class="list">
            <li class="item"> <a href="/" target="_blank">HOME</a></li>
            <li class="item"> <a href="https://cdlu.digitaluniversity.ac/SearchDuplicateResult.aspx?ID=859"
                    target="_blank">RESULTS</a></li>
            <li class="item"> <a href="https://jcdeng.edu.in/#" target="_blank">ADMISSIONS</a></li>
            <li class="item"> <a href="https://jcdv.edu.in/contact-jcdv/" target="_blank">CONTACTS</a></li>
        </ul>
    </div>
    <h1 class="time-head">TIME DESK</h1>
    <div class="teachstud">
        <a href="/teacher_login" class="tt-image1" target="_blank" rel="noopener noreferrer"><img
                src="images/teachers2.jpg" alt="img"></a>
        <a href="/student_login" class="tt-image2" target="_blank" rel="noopener noreferrer"><img
                src="images/students.jpg" alt="img"></a>
    </div>
    <footer class="footer">
        <p>Copyright &copy; Ankit 2022</p>
    </footer>
</body>

</html>