<!-- /////////////////////// Student Login Page ////////////////////// -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="../teacher_login/Teacher-Login-style.css">
    <link rel="stylesheet" href="main/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


    <!-- Navbar containing name and logo of University -->
    <nav>
        <div class="upper-part">
            <img class="logo" src="images/logo.jpg" alt="img"></td>
            <p class="heading">Jan Nayak Chaudhary Devi Lal College Of Engineering,Sirsa</p>
        </div>
    </nav>
    <div class="navbar">
        <ul class="list">
            <li class="item"> <a href="/index">HOME</a></li>
            <li class="item"> <a href="https://cdlu.digitaluniversity.ac/SearchDuplicateResult.aspx?ID=859"
                    target="_blank">RESULTS</a></li>
            <li class="item"> <a href="https://jcdeng.edu.in/#" target="_blank">ADMISSIONS</a></li>
            <li class="item"> <a href="https://jcdv.edu.in/contact-jcdv/" target="_blank">CONTACTS</a></li>
        </ul>
    </div>



    <!-- Sign In form for students -->
    <div class="teacher" id="teacher">

        <div class="teacher-login-form">

            <div id="t1">
                <form action="/student_login" method="post" id="login-form">
                    <label for="user id">Student Id:</label>
                    <input type="email" placeholder="example@gmail.com" name="login_ID" required>
                    <label for="password">Password:</label>
                    <input type="password" name="Password" id="password" required>
                    <p>Show Password<input type="checkbox" id="checkbox1" onclick="checkbox()"></p>
                    <button type="submit" class="submit" id="submit">Login</button>
                    <button type="text" class="submit" > <a href="/student_registration" target="_blank" rel="noopener noreferrer">Register</a> </button>
                </form>
            </div>

        </div>

    </div>



    <!-- Footer -->
    <footer class="footer">
        <p>Copyright &copy; Ankit 2022</p>
    </footer>

    <!-- Local js file -->
    <script src="../teacher_login/teacher_login.js"></script>


</body>

</html>